<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.nombre }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="apellidos">
      <mat-header-cell *matHeaderCellDef>Apellidos</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.apellidos }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edad">
      <mat-header-cell *matHeaderCellDef>Edad</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.edad }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="DNI">
      <mat-header-cell *matHeaderCellDef>DNI</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.DNI }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cumpleaños">
      <mat-header-cell *matHeaderCellDef>Cumpleaños</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.cumpleaños}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef>Color</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.color }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sexo">
      <mat-header-cell *matHeaderCellDef>Sexo</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.sexo }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
